{% extends 'base.html' %}

{% block alert %}
{% if alert_msg %}
<div class="alert alert-{{ alert_msg.type }}" role="alert">
  {{ alert_msg.msg }}
</div>
{% endif %}
{% endblock %}

{% block title %}
User Index
{% endblock %}

{% block lead %}
유저들을 조회, 추가, 및 삭제하는 페이지입니다.
{% endblock %}

{% block main_body %}
<form method="POST" action="/api/user">
  <input name="username" style="margin-bottom:10px" class="form-control" type="text" placeholder="Enter user">
  <input type="submit" class="btn btn-primary" value="Add" />
</form>

{% if user_list %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
    </tr>
  </thead>
  <tbody>
    {% for user in user_list %}
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.full_name }}</td>
      <td>{{ user.username }}</td>
      <td>
        <a class="btn btn-secondary", href='/api/user/?user_id={{user.id}}'>Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
